.konteiner-startliste{
    background-color: #9932CC;
    margin: 5px;
    padding: 10px;
    padding-top: 0px;
    border: solid white 4px;
    border-radius: 5px;
    padding-bottom: 0px;
}

.søk-løpere{
    background-color: #9932CC;
    margin: 5px;
    padding: 10px;
    padding-top: 3px;
    border: solid white 4px;
    border-radius: 5px;
    padding-right: 15px;
    line-height: 2;
}

.løper{
    padding-top: 100px;
    background-color: #9b6bb3;
    margin: 5px;
    padding: 10px;
    padding-top: 0px;
    border: solid white 4px;
    border-radius: 5px;
    padding-bottom: 0px;
}

.løper label{
    margin-top: 10px;
}

.klasser-container {
    background-color: #9932CC;
    margin: 5px;
    padding: 10px;
    border: solid white 4px;
    border-radius: 5px;
}