/* Add additional styles as needed */

.container-link-button {
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.link-button {
    display: inline-block;
    padding: 10px 20px;
    background: #0066d3;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s ease;
    min-width: 235px;
    margin-bottom: 5px;
}

.link-button:hover {
    background: #0056b3;
}


/* Reset styles for h1 and h2 */
h2 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

/* Reset styles for main */
main {
    display: block;
}

/* Reset styles for header */
header {
    display: block;
        text-align: center;
}

.beskrivelse{
    background-color: rgb(38, 35, 35);
    margin: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.alle-renn{
    border: 5px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}

