.alle-søke-oppsjoner {
  width: 100%;
  z-index: 999;
  display: block;
  background-color: #7FACAF;
  color: black;
}

.alle-renn-scroller {
  display: block;
  color: green;
  height: 500px;
  overflow: auto;
}

.søk-renn{
  margin-bottom: 10px;
}

