.legg-eller-fjern-løper-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;
}

.legg-eller-fjern-løper-button:hover {
    background-color: #45a049;
}

.legg-eller-fjern-løper-button:active {
    background-color: #3e8e41;
}

.padding-bottom {
    padding-bottom: 50px;
}

.enkelt-løper {
    background-color: #3e8e41;
    padding-left: 5px;
    border-radius: 7px;
    padding: 10px;
    margin-top: 5px;
}


.løper-nummer {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}

